<h1 class="text-center my-4 page-heading"><%= @list.name %></h1>

<div class="container d-flex gap-3 align-items-center flex-wrap">
  <% @list_items.each do |list_item| %>
    <div class="book-card">
      <div class="card mb-4 border-0 shadow">
        <a href="<%= book_path(list_item.book) %>">
          <img src="<%= list_item.book.cover_url %>" alt="Cover of <%= list_item.book.title %>" class="index-book-cover">
        </a>
        <div class="card-body card-body-wishlist">
          <h5 class="card-title">
            <strong><%= link_to list_item.book.title, book_path(list_item.book), class: 'text-dark' %></strong>
          </h5>
          <p class="card-text"><%= list_item.book.author %></p>
          <% unless @list.name == "My Rentals" %>
            <%= link_to list_list_item_path(@list, list_item), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-remove' do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
