<div class="navbar justify-content-between px-3 navbar-expand-sm navbar-light navbar-lewagon">
  <!-- Brand logo and link to home page -->
  <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
    <i class="fas fa-book"></i>
    <span class="ms-2 header-title">Books2Book</span>
  <% end %>

  <!-- Search bar -->
  <form action="<%= books_path %>" method="get" class="form-inline d-flex align-items-center ms-3">
    <div class="input-group">
      <button class="btn" type="submit">Search</button>
      <input class="form-control" type="search" value="<%= params[:query] %>" placeholder="title, author, genre or ISBN" aria-label="Search" name="query">
    </div>
  </form>

  <!-- Toggle button for collapsed content in smaller screens -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links and dropdowns -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <% if user_signed_in? %>
        <!-- Wishlist link -->
        <li class="nav-item">
          <%= link_to "Wishlist", list_path(current_user.lists.find_by(name: 'Wishlist')), class: "nav-link" %>
        </li>

        <!-- My Books dropdown -->
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="myBooksDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Books
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="myBooksDropdown">
            <%= link_to "Own", ownerships_path, class: "dropdown-item" %>
            <%= link_to "Offered", owner_rentals_path, class: "dropdown-item" %>
            <%= link_to "Rented", rentals_path, class: "dropdown-item" %>
          </div>
        </li>

        <!-- User profile and logout dropdown -->
        <li class="nav-item dropdown">
          <a href="#" class="avatar" id="profileDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://source.unsplash.com/random/?book", class: "avatar", alt: "dropdown menu" %>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <!-- Login link for non-signed-in users -->
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
