<div>
<<<<<<< HEAD:app/views/rentals/new.html.erb
  <%= simple_form_for [ @ownership, @rental ], data: { controller: 'flatpickr' } do |f| %>
=======
  <%= simple_form_for @rental do |f| %>
>>>>>>> master:app/views/rentals/_form.html.erb
    <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } }%>
    <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>
    <%= f.submit 'Submit', class: 'btn submit-btn' %>
  <% end %>
</div>
