<%# Title %>
<% if params[:query].present? %>
  <% if @books.size == 1 %>
    <h1 class="text-center my-4 page-heading">1 Result Found</h1>
  <% elsif @books.size == 0 %>
    <h1 class="text-center my-4 page-heading">No Result</h1>
  <% else %>
    <h1 class="text-center my-4 page-heading"><%= pluralize(@books.size, 'Result') %> Found</h1>
  <% end %>
<% else %>
  <h1 class="text-center my-4 page-heading">All Books</h1>
<% end %>

<%# Results %>
<div class="container d-flex gap-3 align-items-center flex-wrap">
  <% @books.each do |book| %>
    <div class="book-card">
      <div class="card mb-4 border-0 shadow">
        <a href="<%= book_path(book) %>">
          <img src="<%= book.cover_url %>" alt="Cover of <%= book.title %>" class="index-book-cover">
        </a>
        <div class="card-body card-body-index">
          <h5 class="card-title">
            <strong><%= link_to book.title, book_path(book), class: 'text-dark' %></strong>
          </h5>
          <p class="card-text"><%= book.author %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
