<div class="container my-5">
  <div class="book-show card border-0 shadow">
    <div class="row no-gutters book-show-card">
      <div class="col-md-4 d-flex justify-content-center">
        <img src="<%= @book.cover_url %>" class="show-book-cover img-fluid" alt="<%= @book.title %> cover">
      </div>
      <div class="col-md-8">
        <div class="book-details card-body">
          <h1><%= @book.title %></h1>
          <p class="lead"><strong>Author:</strong> <%= @book.author %></p>
          <p class="lead"><%= @book.description %></p>
          <div class="row">
            <div class="col-md-4">
              <p><strong>Genre:</strong> <%= @book.genre %></p>
            </div>
            <div class="col-md-4">
              <p><strong>ISBN:</strong> <%= @book.isbn %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <table class="table table-hover table-light">
    <thead>
      <tr>
        <th>Owner</th>
        <th>Condition</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% @book.ownerships.each do |ownership| %>
        <tr>
          <td><%= ownership.user.first_name %> <%= ownership.user.last_name %></td>
          <td><%= ownership.condition %></td>
          <td>$<%= ownership.price %></td>
          <td><%= link_to new_ownership_rental_path(ownership) do %><button class="btn btn-primary">Borrow</button><% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
