<div class="container my-5">
  <div class="book-show card border-0 shadow">
    <div class="row no-gutters book-show-card">
      <div class="col-md-4 d-flex justify-content-center">
        <img src="<%= @ownership.book.cover_url %>" class="show-book-cover img-fluid" alt="<%= @ownership.book.title %> cover">
      </div>
      <div class="col-md-8">
        <div class="book-details card-body">
          <h1><%= @ownership.book.title %></h1>
          <p class="lead"><strong>Author:</strong> <%= @ownership.book.author %></p>
          <p class="lead"><strong>Price:</strong> <%= @ownership.price %></p>
          <p class="lead"><strong>Condition:</strong> <%= @ownership.condition %></p>
          <p class="lead"><%= @ownership.book.description %></p>
          <div class="row">
            <div class="col-md-4">
              <p><strong>Genre:</strong> <%= @ownership.book.genre %></p>
            </div>
            <div class="col-md-4">
              <p><strong>ISBN:</strong> <%= @ownership.book.isbn %></p>
            </div>
          </div>
          <div class="d-flex gap-2 mt-3">
            <button class="btn btn-secondary wishlist-btn" disabled>Return</button>
            <button class="btn btn-secondary wishlist-btn" disabled>Edit</button>
            <button class="btn btn-secondary wishlist-btn" disabled>Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card p-4 mb-4">
    <%= simple_form_for @ownership do |f| %>
      <div class="form-group">
        <%= f.input :price, placeholder: "Enter a price for the book" %>
      </div>
      <div class="form-group">
        <%= f.input :condition, placeholder: "Enter a condition for the book", collection: Ownership::CONDITIONS %>
      </div>
      <%= f.submit 'Update Ownership', class: 'btn submit-btn' %>
    <% end %>
  </div>
</div>
