<div class="container">
  <h1 class="text-center my-4 page-heading">My Own Books</h1>

  <p class="d-flex gap-1 justify-content-end">
    <button class="btn ml-4" type="button" data-bs-toggle="collapse" data-bs-target="#addOwnership" aria-expanded="false" aria-controls="addOwnership">
      Add Book
    </button>
  </p>
  <div class="collapse mb-4" id="addOwnership">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 col-md-6 offset-lg-3">
          <div class="bg-white rounded p-3 shadow">
            <%= simple_form_for @ownership, url: ownerships_path do |f| %>
              <%= f.association :book, prompt: "Select a book" %>
              <%= f.input :price, placeholder: "Enter a price for the book" %>
              <%= f.input :condition, placeholder: "Enter a condition for the book", collection: Ownership::CONDITIONS %>
              <%= f.submit 'Create Offer', class: "btn btn-flat" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-flex gap-3 align-items-center flex-wrap">
    <% @ownerships.each do |ownership| %>
      <div class="book-card">
        <div class="card mb-4 border-0 shadow">
          <a href="<%= ownership_path(ownership) %>">
            <img src="<%= ownership.book.cover_url %>" alt="Cover of <%= ownership.book.title %>" class="index-book-cover">
          </a>
          <div class="card-body card-body-own-books">
            <h5 class="card-title">
              <strong><%= link_to ownership.book.title, book_path(ownership.book), class: 'text-dark' %></strong>
            </h5>
            <p class="card-text"><%= ownership.book.author %></p>
            <p class="card-text"><i class="fa-solid fa-dollar-sign"></i>  $<%= ownership.price %></p>
            <p class="card-text"><i class="fa-regular fa-square-check"></i>  <%= ownership.condition %></p>
            <%= link_to ownership_path(ownership), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-remove' do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
