<!-- app/views/books/show.html.erb -->

<div class="container my-5">
  <!-- Existing book details -->

  <hr>
  <h2>Available Rentals</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Renter</th>
        <th>Condition</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @book.ownerships.each do |ownership| %>
        <tr>
          <td><%= ownership.user.first_name %> <%= ownership.user.last_name %></td>
          <td><%= ownership.condition %></td>
          <td>$<%= ownership.price %></td>
          <td><%= link_to "Rent", new_ownership_rental_path(ownership), class: "btn btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "Claim Ownership", new_book_ownership_path(@book), class: "btn btn-success mt-3" %>
</div>
